#this is a YAML file
#the bigger the number, the better the quality
#for example: texture quality 4 is better than 2
#bool default value is false, false is off, true is on


generalinfo:
  gamename: "minimal testing sandbox"
  version: "0.0.1"
  debug: 
    console: true
    logfile: false
    logfileappend: true


rendersystem:
  backend: "opengl"
  screenwidth: 2560
  screenheight: 1440
  screenmode: "fullscreen"
  vsync: true
  antialiasing: ""
  antialiasingquality: 2
  shadowmapping: true

  sdl_img_format: "png" #this option is now ignored, all supported formats are loaded



assetsystem:
  rootdirectory: "./"
  








